<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.js"></script>
    <title>Document</title>
</head>
<body>
    <h3>Leaflet</h3>
        <p><a href="leafletclick">Leaflet - popups on click, logo</a></p>
        <p><a href="leaflethover">Leaflet - popups on hover, logo</a></p>
        <p><a href="leafletlabel">Leaflet - labels, logo</a></p>
    <h3>Mapbox</h3>
        <p><a href="mapboxline">Mapbox - 2 layers (line and polygon), popups on hover, logo</a></p>
        <p><a href="mapboxclick">Mapbox - polygon, popups on click</a></p>
        <p><a href="mapboxhover">Mapbox - polygon, popups on hover</a></p>
        <p><a href="mapboxlabel">Mapbox - labels (not working)</a></p>
    <h3>OpenLayers</h3>
        <p><a href="openlayers">OpenLayers - popups on click, bad basemap, logo doesn't work</a></p>
</body>
</html>

