<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
    <title>Document</title>
</head>
<body>

    <div id="mapid"></div>
    <div id="description" class="inactive description"></div>

    <script>
        // returns promise for loading GeoJSON file and adding the Leaflet layer to the layers array
        async function getGeojsonLayer(fileName, layers) {
            // loading GeoJSON file - Here my html and usa_adm.geojson file resides in same folder
            return $.getJSON(fileName, (data) => {
                layers.push(data);
            })
        }

        const map = new mapboxgl.Map({
           container: 'mapid',
           style: 'https://tiles.stadiamaps.com/styles/alidade_smooth.json',  // Theme URL; see our themes documentation for more options
           center: [-68.13734351262877, 45.137451890638886],
            zoom: 5
         });

         // Add zoom and rotation controls to the map.
         map.addControl(new mapboxgl.NavigationControl());

        // zoom into CA (couldn't figure out how to zoom to polygon bounds without external library)
        const swPoint = new mapboxgl.LngLat(-125.177210, 31.602601);
        const nePoint = new mapboxgl.LngLat(-113.043510, 42.361381);
        const bounds = new mapboxgl.LngLatBounds(swPoint, nePoint);

        map.fitBounds(bounds, {
            padding: 20
        });

        const layers = [];
        const promises = [];

        // get promises for each of the CA state senate districts
        for (let i = 1; i <= 40; i++) {
            const promise = getGeojsonLayer(`/ca_state_senate_districts/bp_california state senate district ${i}.geojson`, layers);
            promises.push(promise);
        }
        
        // create your own GeoJSON feature collection
        var featureCollection = {
            'type': 'FeatureCollection',
            'features': []
        };

        // after all GeoJSON files load, add them to group layer, add to map, and zoom to bounds
        Promise.all(promises).then( () => {
            // create feature for GeoJSON feature collection
            for (let i = 1; i <= 40; i++) {
                const feature = {
                    'type': 'Feature',
                    'geometry': layers[i-1],
                    'properties': {
                        'name': `District ${i}`
                    }
                };

                featureCollection.features.push(feature);
            }

            console.log(featureCollection);

            // add feature collection as dat source to map
            map.addSource('featureCollectionID', {
                type: 'geojson',
                data: featureCollection
            });

            // creates layers for each feature in feature collection
            map.addLayer({
                'id': 'layerID',
                'type': 'fill',     // MUST be fill, otherwise click event doesn't work
                'source': 'featureCollectionID',
                'layout': {},
                'paint': {
                    'fill-color': '#0000FF',
                    'fill-opacity': 0.2,                // can't make fill opaque --> outline doesn't show
                    'fill-outline-color': '#0000FF'
                }
            });

            // only one popup visible on map at one time
            var popup = new mapboxgl.Popup();
            
            // popup displays on click 
            // if wanted to change to mouseon, would need to manually position popup over middle of polygon
            map.on('click', 'layerID', function(e) {
                console.log(e);
 
                var coordinates = e.lngLat;
                var name = e.features[0].properties.name;
                
                // popup will appear where user clicked, with district name
                popup
                    .setLngLat(coordinates)
                    .setHTML(name)
                    .addTo(map);
            });

            // Change the cursor to a pointer when the mouse is over the places layer.
            map.on('mouseenter', 'layerID', function() {
                map.getCanvas().style.cursor = 'pointer';
            });
            
            // Change it back to a pointer when it leaves.
            map.on('mouseleave', 'layerID', function() {
                map.getCanvas().style.cursor = '';
            });
            
        });

    </script>
</body>
</html>

