html, body {
    height: 100vh;
    width: 100vw;
}

#mapid {
    height: 80%;
    width: 90%;
    margin: 0 auto;
}

h2 {
    color: black;
    text-align: center;
}

.logo img {
    width: 100px;
    height: 100px;
  }
