<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/style.css">
    <script src="/public/getData.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
    <title>Mapbox - Popups on Click</title>
</head>
<body>

    <h2>Popups on Click</h2>
    <div id="mapid"></div>

    <script>
        getFeatureCollection().then( featureCollection => {
            // zoom to bounds (requires turf or geojson-extent plugin)
            const bbox = turf.extent(featureCollection);

            // adding OSM tiles is more difficult than just using mapbox basemaps (but they require API key)
            // couldn't figure out how to attach API key to stadia maps request
            const map = new mapboxgl.Map({
                container: 'mapid',
                style: {
                    version: 8,
                    sources: {
                        osm: {
                            type: 'raster',
                            tiles: ["https://tile.openstreetmap.org/{z}/{x}/{y}.png"]
                        }
                    },
                    layers: [{
                        id: 'osm',
                        type: 'raster',
                        source: 'osm',
                    }]
                }
            });

            map.on('load', () => {
                // fit to bounds of GeoJSON features
                map.fitBounds(bbox, {
                    padding: 20
                });

                // Add zoom and rotation controls to the map.
                map.addControl(new mapboxgl.NavigationControl());

                // add feature collection as dat source to map
                map.addSource('featureCollectionID', {
                    type: 'geojson',
                    data: featureCollection
                });

                // creates polygon layers for each feature in feature collection
                map.addLayer({
                    'id': 'layerID',
                    'type': 'fill',     // MUST be fill, otherwise click event doesn't work
                    'source': 'featureCollectionID',
                    'layout': {},
                    'paint': {
                        'fill-color': '#0000FF',
                        'fill-opacity': 0.2,                // can't make fill opaque --> outline doesn't show
                        'fill-outline-color': '#0000FF'
                    }
                });

                // *** popup displays on click ***
                // https://docs.mapbox.com/mapbox-gl-js/example/polygon-popup-on-click/
                map.on('click', 'layerID', function(e) {
                    console.log(e);

                    var coordinates = e.lngLat;
                    var name = e.features[0].properties.name;
                    
                    // popup will appear where user clicked, with district name
                    const popup = new mapboxgl.Popup()
                        .setLngLat(coordinates)     // could set to middle of polygon
                        .setHTML(name)
                        .addTo(map);
                });

                // Change the cursor to a pointer when the mouse is over the places layer.
                map.on('mouseenter', 'layerID', function() {
                    map.getCanvas().style.cursor = 'pointer';
                });

                // Change it back to a pointer when it leaves.
                map.on('mouseleave', 'layerID', function() {
                    map.getCanvas().style.cursor = '';
                });
            });
        });
    </script>
</body>
</html>

